target
nb-configuration.xml
nbactions.xml
*.iml
.idea
*.log
.project
.settings
*/.settings
*/.project
.classpath
*/.idea
.idea/
target/
ideaproj/
*/bin
.DS_Store
*.ipr
*.iws
bin/
nbproject/
.springBeans
/log/
/var/log/*
*.factorypath
